/* **************************************************************************************

Style of Dissimrating Page
(c) Timo Flesch, 2016/17 
Summerfield Lab, Experimental Psychology Department, University of Oxford

************************************************************************************** */

html,body {

	background-color: #E6E6E6;
}


h1 {

	text-align:    center;
	font-size:     14px;
	color:         black;

}


#canvas {

	margin-left:      auto;
    margin-right:     auto;
	width:            800px;
	height:           650px;
	border:           2px solid black;
	border-radius:    10px;
	background-color: white;

}


#coords {
	
	height:        10px;
	width:         160px;
	text-align:    left;
	font-size:     12px;
	color:         black;

}


#buttonDiv {

	margin-left:   auto;
    margin-right:  auto;
    width:         100px;
	height:        50px;

}


.donthighlight {

	 -webkit-user-select:   none;
     -webkit-touch-callout: none;
	 -khtml-user-select:    none;
	 -moz-user-select:      none;
	 -ms-user-select:       none;
	 user-select:           none;
	 cursor:             default;

}